usn {display:block;margin-top:20px;margin-left:20px;color:blue;font-size:18pt;}
name {display:block;margin-left:20px;color:red;font-size:16pt;}
college {display:block;margin-left:20px;font-size:14pt;}
branch {display:block;margin-left:20px;font-size:14pt;}
yoj {display:block;margin-left:20px;font-size:14pt;}
email {display:block;margin-left:20px;font-size:12pt;}